.footer {
    background-color: rgba(167, 167, 167, 0.8);
    font-family: sans-serif;
    padding: 1rem;
}

.copyright {
    padding: 0px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
}

.company {
    float: left;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.contact {
    float: left;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.contact img {
    margin: 0.5rem;
    width: 2rem;
}

.contact dt {
    margin-right: 15%;
    display: inline-block;
}

.location {
    float: left;
    width: 98.65%;
    margin-left: 0.5rem;
    margin-right: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.map {
    border: 2px solid gray;
    width: 100%;
    height: 50%;
}