* {
    box-sizing: border-box;
}

#navbar {
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 90;
    background-color: rgb(88, 0, 0);
    position: fixed;
}

.title {
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #FF8C00;
    text-shadow: 4px 4px 4px black;
}

#navbar img {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: left;
}

.careulogo {
    margin-right: 1rem;
    width: 3.5rem;
}

#navbar-right {
    color: rgb(0, 0, 0);
    top: -50px;
    text-decoration: none;
    position: relative;
    margin-right: 2rem;
    display: inline-block;
    border-radius: 2px;
    float: right;
}

#navbar-right img {
    width: 2rem;
    margin: 0;
}

#navbar-right .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
}


/*-------------------------------------------------------------------------------------------------------------------------*/

.notification {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    width: 100%;
    overflow: auto;
    padding-top: 80px;
    text-align: center;
    transition: 0.4s;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.close {
    color: rgb(114, 114, 114);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 16px;
    background-color: #f8991d;
    color: rgb(0, 0, 0);
}

.modal-body {
    padding: 2px 16px;
}

.notification a {
    text-decoration: none;
    color: black;
}

.modal-body:hover {
    background-color: bisque;
}