#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    background-color: rgb(88, 0, 0);
    color: white;
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgb(88, 0, 0);
    border-radius: 4px;
}

#myBtn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}