#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 90;
    font-size: 18px;
    outline: none;
    background-color: rgb(88, 0, 0);
    color: white;
    cursor: pointer;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    transition: 0.2s;
}

#myBtn:hover {
    transition: 0.2s;
    padding: 7px;
}