* {
    box-sizing: border-box;
}

#navbar {
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 90;
    background-color: rgb(88, 0, 0);
    position: fixed;
}

.title {
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #FF8C00;
    text-shadow: 4px 4px 4px black;
}

#navbar img {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: left;
}

.careulogo {
    margin-right: 1rem;
    width: 3.5rem;
}

#navbar-right {
    color: rgb(0, 0, 0);
    top: -50px;
    text-decoration: none;
    position: relative;
    margin-right: 2rem;
    display: inline-block;
    border-radius: 2px;
    float: right;
}

#navbar-right img {
    width: 2rem;
    margin: 0;
}

#navbar-right .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
}