* {
    box-sizing: border-box;
}

#navbar {
    overflow: hidden;
    background-color: rgb(91, 17, 1, 0.8);
    padding: 0rem 0rem;
    transition: 0.4s;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
}

.title {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #FF8C00;
    height: 1.5rem;
    text-shadow: 4px 4px 4px black;
}

#navbar-right a {
    float: left;
    text-shadow: 4px 4px 4px black;
    border: 2px solid rgb(91, 17, 1, 0);
    text-align: center;
    text-decoration: none;
    padding: 0.8rem;
    font-size: 110%;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    color: white;
}

#navbar img {
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;
}

.careulogo {
    margin-right: 1rem;
    width: 4rem;
}

#navbar-right a:hover {
    border: 2px solid white;
    text-shadow: none;
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 800px) {
    .title {
        margin-bottom: 1rem;
        font-size: 1.25rem;
        height: 1.25rem;
    }
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
    #navbar img {
        margin-bottom: 0rem;
        width: 4rem;
    }
    .title {
        margin-bottom: 3rem;
        font-size: 1rem;
        height: 1rem;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------*/

.breadcrum {
    position: sticky;
    color: white;
    background-color: rgb(91, 17, 1, 0.8);
    padding: 0.1px;
    margin: 0;
    transition: 0.4s;
    z-index: 99;
    border-top: 2px solid white;
}

.breadcrumb {
    list-style: none;
    margin: 0.5rem;
    margin-left: 0;
}

.breadcrumb li {
    display: inline;
    font-size: 17.5px;
}

.breadcrumb li+li:before {
    color: white;
    content: "› ";
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}