* {
    box-sizing: border-box;
}

#navbar {
    overflow: hidden;
    background-color: rgb(91, 17, 1, 0.8);
    padding: 0.5rem 0.5rem;
    transition: 0.4s;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99;
}

.title {
    margin-left: 1rem;
    font-size: 2rem;
    color: #FF8C00;
    height: 2rem;
    text-shadow: 4px 4px 4px black;
}

#navbar-right a {
    float: left;
    text-shadow: 4px 4px 4px black;
    border: 2px solid rgb(91, 17, 1, 0);
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 110%;
    color: white;
}

#navbar img {
    margin-left: 1rem;
    margin-top: 1rem;
    float: left;
}

.careulogo {
    margin-right: 1rem;
    width: 5.5rem;
}

#navbar-right a:hover {
    border: 2px solid white;
    text-shadow: none;
}

#navbar-right {
    float: right;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
    #navbar img {
        margin-bottom: 5rem;
    }
    .title {
        margin-bottom: 6rem;
    }
}