body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#err {
    border: 1px solid;
    width: 50%;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
}

.hide {
    visibility: hidden;
    ;
}

.form1 {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.form {
    margin-left: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.6);
}

.frame {
    padding: 1rem;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
}

.column1 .picture {
    width: 25vw;
    height: 25vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 1rem;
    background-color: rgb(192, 192, 192, 0.6);
}

.column2 textarea {
    width: 100%;
    height: 15rem;
    padding: 12px 20px;
    color: black;
    border: 1px solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.column2 input {
    display: block;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.column2 input[type=submit] {
    width: 30%;
    background-color: rgb(88, 0, 0);
    padding: 11px 20px;
    cursor: pointer;
    border: none;
    color: white;
    float: right;
    font-size: 120%;
    margin-top: 20px;
    border: 2px solid rgb(88, 0, 0);
}

.column2 input[type=submit]:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.namediv {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    background-color: rgb(88, 0, 0, 0.9);
}

.column1 {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}

.column2 {
    float: left;
    width: 100%;
    padding: 1rem;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.stepname img {
    width: 15vw;
    height: 15vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 1rem;
    background-color: rgb(192, 192, 192, 0.6);
}

.stepname h2 {
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: rgb(88, 0, 0);
}

.step {
    float: left;
    width: 40%;
}

.setpimage {
    float: left;
    width: 25%;
}

.stepdescription {
    float: left;
    width: 50%;
    padding-top: 1rem;
}

.options {
    float: left;
    width: 10%;
}

.options img {
    width: 1.5rem;
    float: right;
    margin: 0.5rem;
}

.options a:hover {
    opacity: 0.5;
}

.stepdescription p {
    font-size: 150%;
}

.details:after {
    content: "";
    display: table;
    clear: both;
}

.details {
    margin: 1rem;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
}

.instructioncol {
    float: left;
    width: 100%;
}

.instructionrow:after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 1020px) {
    .column2 input[type=submit] {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 800px) {
    .step,
    .stepdescription,
    .options {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .form1 {
        margin-top: 228px;
        margin-left: 0;
    }
    .form {
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {
    .form1 {
        margin-top: 128px;
    }
    .column1 canvas {
        width: 30vh;
        height: 30vh;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    text-align: center;
}

.titleconfirm {
    float: left;
    width: 100%;
    color: white;
    background-color: rgb(88, 0, 0);
}

.confirm {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.confirm p {
    font-size: 150%;
}

.confirm img {
    width: 3rem;
    height: auto;
}

.clearfix {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.message {
    width: 60%;
    margin: 5% auto 15% auto;
    background-color: rgb(255, 255, 255);
}

.btns {
    float: left;
    width: 50%;
}

.clicks:after {
    content: "";
    clear: both;
    display: table;
}

.yes,
.no {
    float: left;
    width: 98%;
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    margin: 0.5rem;
    text-decoration: none;
    background-color: rgb(88, 0, 0);
    border: 2px solid rgb(88, 0, 0);
}

.yes:hover,
.no:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}