body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#err {
    border: 1px solid;
    width: 50%;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    margin-bottom: 1rem;
    background-color: #FFBABA;
}

.hide {
    visibility: hidden;
    ;
}

.form {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.frame {
    padding: 1rem;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
}

.column1 canvas {
    width: 25vw;
    height: 25vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(192, 192, 192, 0.6);
}

.column2 input,
.column3 input,
.column3 .gender {
    display: block;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.column4 input[type=submit] {
    width: 30%;
    background-color: rgb(88, 0, 0);
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    float: right;
    border: 2px solid rgb(88, 0, 0);
}

.column4 input[type=submit]:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.namediv {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 3rem;
    background-color: rgb(88, 0, 0, 0.9);
}

.column1 {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}

.column2 {
    float: left;
    width: 50%;
    padding: 1rem;
    text-align: left;
}

.column3 {
    float: left;
    width: 50%;
    padding: 1rem;
    text-align: left;
}

.column4 {
    float: left;
    width: 100%;
    padding: 1rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.inputs {
    width: 100%;
    padding-right: 2rem;
}

@media screen and (max-width: 1020px) {
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }
    .column3 {
        padding-top: 0;
    }
    .column2 {
        padding-bottom: 0;
    }
    .column4 input[type=submit] {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 700px) {
    .form {
        margin-top: 228px;
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {
    .form {
        margin-top: 128px;
    }
    .column1 canvas {
        width: 30vh;
        height: 30vh;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    text-align: center;
    transition: 0.4s;
}

.titleconfirm {
    float: left;
    width: 100%;
    color: white;
    background-color: rgb(88, 0, 0);
}

.confirm {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.confirm p {
    font-size: 150%;
}

.confirm img {
    width: 3rem;
    height: auto;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.message {
    width: 60%;
    margin: 5% auto 15% auto;
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}