body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.updates {
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
}

.form {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.category h1 {
    color: white;
    padding: 0.5rem;
    background-color: rgb(88, 0, 0);
}

.col a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.column2 button {
    width: 100%;
    background-color: rgb(88, 0, 0);
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 100%;
    float: right;
    border: 2px solid rgb(88, 0, 0);
}

.column2 button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.column .userrow,
.column .requestrow {
    text-align: left;
    padding: 10px;
    margin: 1rem;
    border: 3px solid rgb(255, 255, 255, 0.8);
    background-color: rgb(245, 245, 255, 0.2);
}

.category {
    margin: 1rem;
}

.column {
    float: left;
    width: 50%;
}

.updates:after {
    content: "";
    display: table;
    clear: both;
}

.column1 img {
    width: 1rem;
    height: auto;
    margin-left: 0.2rem;
}

.userPic {
    float: left;
    width: 20%;
}

.userPic img {
    width: 7rem;
    height: auto;
    margin-top: 0.5rem;
}

.column1 {
    padding-left: 2rem;
    float: left;
    width: 50%;
    font-weight: bold;
}

.column1 img {
    width: 1rem;
    height: auto;
    margin-right: 0.5rem;
}

.column2 {
    padding: 1rem;
    float: right;
    width: 30%;
}

.userrow:after,
.requestrow:after {
    content: "";
    display: table;
    clear: both;
}

.loading {
    width: 6rem;
    margin: 10rem;
}

@media screen and (max-width: 1300px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .userPic,
    .column1,
    .column2 {
        text-align: center;
        width: 100%;
    }
    .userPic img {
        width: 30%;
        float: none;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
    .form {
        margin-top: 228px;
        margin-left: 0;
    }
}

@media screen and (max-width: 460px) {
    .form {
        margin-top: 128px;
    }
}


/*-------------------------------------------------------------------------------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 75px;
    text-align: center;
}

.titleconfirm {
    float: left;
    width: 100%;
    color: white;
    background-color: rgb(88, 0, 0);
}

.confirm {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.confirm p {
    font-size: 150%;
}

.confirm img {
    width: 3rem;
    height: auto;
}

.clearfix {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.message {
    width: 60%;
    margin: 5% auto 15% auto;
    background-color: rgb(255, 255, 255);
}

.btns {
    float: left;
    width: 50%;
}

.clicks:after {
    content: "";
    clear: both;
    display: table;
}

.yes,
.no {
    float: left;
    width: 98%;
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    margin: 0.5rem;
    text-decoration: none;
    background-color: rgb(88, 0, 0);
    border: 2px solid rgb(88, 0, 0);
}

.yes:hover,
.no:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}