body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.form {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.form img {
    width: 100%;
}

.user h2 {
    margin: 10px;
}

.user .report {
    font-size: 130%;
    width: 100%;
    height: 200px;
}

#chart_div {
    width: 100%;
    height: 40rem;
}

#piechart {
    width: 100%;
    height: 30rem;
}

.loading {
    width: 6rem;
    margin: 10rem;
}

@media screen and (max-width: 700px) {
    .form {
        margin-top: 228px;
        margin-left: 0;
    }
}

@media screen and (max-width: 425px) {
    .form {
        margin-top: 128px;
    }
}