body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.breadcrum {
    color: white;
    background-color: rgb(128, 0, 0, 0.9);
    padding: 5px 0px 5px 10px;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.lab {
    display: none;
    font-size: 110%;
    font-weight: bold;
}

.form1 {
    margin-left: 200px;
    background-color: rgb(255, 255, 255, 0.6);
}

.formuser {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.frame {
    padding: 1rem;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
}

.column1 img {
    width: 25vw;
    height: 25vw;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgb(192, 192, 192, 0.6);
}

.column2 input,
.column3 input {
    display: block;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    font-size: 110%;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.column4 button {
    width: 30%;
    background-color: rgb(88, 0, 0);
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    float: right;
    text-decoration: none;
    border: 2px solid rgb(88, 0, 0);
}

.column4 button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.namediv {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
    background-color: rgb(88, 0, 0, 0.9);
}

.column1 {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}

.column2 {
    float: left;
    width: 50%;
    padding: 1rem;
    text-align: left;
}

.column3 {
    float: left;
    width: 50%;
    padding: 1rem;
    text-align: left;
}

.column4 {
    float: left;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.request {
    float: left;
    width: 50%;
}

.feedback {
    float: left;
    width: 50%;
}

.imgdiv {
    float: left;
    width: 50%;
}

.history {
    margin: 1.5rem;
    padding: 1rem;
    border: 3px solid rgb(255, 255, 255, 0.6);
    background-color: rgb(245, 245, 255, 0.2);
    cursor: pointer;
}

.viewhistory {
    float: left;
    width: 50%;
}

.part1:after,
.part2:after {
    content: "";
    display: table;
    clear: both;
}

.viewhistory p {
    padding-top: 1rem;
    color: black;
    font-size: 200%;
    font-weight: bold;
}

.imgdiv img {
    float: left;
    width: 50%;
    height: auto;
}

.outer-star {
    position: relative;
    display: inline-block
}

.inner-star {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    overflow: hidden
}

.outer-star::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900
}

.inner-star::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    color: red;
}

.form1 .history:hover {
    border: 3px solid black;
    background-color: rgb(245, 245, 255, 0.6);
}

@media screen and (max-width: 1020px) {
    .column2 {
        width: 100%;
        padding-bottom: 0;
    }
    .column3 {
        width: 100%;
        padding-top: 0;
    }
    .column4 button {
        width: 100%;
        float: none;
    }
    .request,
    .feedback {
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    .imgdiv,
    .viewhistory {
        width: 100%;
    }
    .imgdiv img {
        float: none;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
    .formuser {
        margin-top: 228px;
        margin-left: 0;
    }
    .form1 {
        margin-left: 0;
    }
    .fbox {
        width: 100%;
    }
    .frate {
        width: 100%;
        padding-top: 0rem;
    }
}

@media screen and (max-width: 460px) {
    .formuser {
        margin-top: 128px;
    }
}

.alert {
    text-align: left;
    padding: 10px;
    margin: 1rem;
    height: auto;
    background-color: rgb(245, 245, 255, 0.2);
}

.brief1 {
    padding-top: 1rem;
    color: black;
    float: left;
    width: 30%;
}

.brief1 .acceptspan,
.brief1 .rejectspan,
.brief1 .notviewedspan {
    text-align: center;
    margin: 0.5rem;
    font-size: 120%;
    padding: 2px;
}

.acceptspan {
    color: rgb(0, 122, 31);
    background-color: rgba(139, 245, 112, 0.637);
    border: 2px solid rgb(0, 122, 31);
}

.rejectspan {
    color: rgb(95, 3, 3);
    background-color: rgba(192, 34, 34, 0.589);
    border: 2px solid rgb(146, 0, 0);
}

.notviewedspan {
    color: rgb(14, 13, 121);
    background-color: rgba(34, 89, 192, 0.589);
    border: 2px solid rgb(14, 13, 121)
}

.brief2 {
    float: left;
    width: 70%;
    color: black;
    padding-top: 2rem;
}

.requestrow:after {
    content: "";
    display: table;
    clear: both;
}

.requestHistory {
    padding: 0rem 1.5rem 1rem 1.5rem;
}

.requestrow {
    background-color: rgb(245, 245, 255, 0.3);
    border: 3px solid rgb(255, 255, 255, 0.7);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.requestrow:hover {
    background-color: rgb(245, 245, 255, 0.7);
    border: 3px solid rgb(0, 0, 0);
}

.patients {
    float: left;
    width: 25%;
    text-align: center;
}

.police {
    float: left;
    width: 25%;
    text-align: center;
}

.time {
    float: left;
    width: 25%;
    text-align: center;
}

.district {
    float: left;
    width: 25%;
    text-align: center;
}

.details img {
    width: 30%;
    height: auto;
}

.heading {
    padding: 0.5rem;
    color: white;
    background-color: rgb(88, 0, 0, 0.9);
}

.feedbackrow::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 0.5rem;
}

.fbox {
    width: 70%;
    float: left;
}

.ftime {
    width: 100%;
    float: left;
    padding: 2rem 1rem 0rem 0rem;
}

.frate {
    width: 30%;
    float: left;
    text-align: right;
    padding: 2rem 1rem 0rem 0rem;
}

.fbox p {
    margin-left: 1rem;
    font-size: 150%;
}

.ftime p {
    float: right;
}

.fdiv {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.fdiv::after {
    content: "";
    display: table;
    clear: both;
}

.upbutton {
    width: 1rem;
}

@media screen and (max-width: 1200px) {
    .brief1 {
        float: left;
        text-align: center;
        width: 100%;
    }
    .brief2 {
        float: left;
        width: 100%;
    }
}


/*-------------------------------------------------------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    text-align: center;
}

.titleconfirm {
    float: left;
    width: 100%;
    color: white;
    background-color: rgb(88, 0, 0);
}

.confirm {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.confirm p {
    font-size: 150%;
}

.clearfix {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.message {
    width: 60%;
    margin: 5% auto 15% auto;
    background-color: rgb(255, 255, 255);
}

.btns {
    float: left;
    width: 50%;
}

.clicks:after {
    content: "";
    clear: both;
    display: table;
}

.yes,
.no {
    float: left;
    width: 98%;
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    margin: 0.5rem;
    text-decoration: none;
    background-color: rgb(88, 0, 0);
    border: 2px solid rgb(88, 0, 0);
}

.yes:hover,
.no:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}