    body {
        margin: 0;
        background-image: url("../../img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        font-family: sans-serif;
    }
    
    .hidden {
        display: none;
    }
    
    .photorow img {
        width: 50%;
        height: auto;
        border: 2px solid black;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        background-color: rgb(192, 192, 192, 0.6);
    }
    
    #err {
        border: 1px solid;
        width: 50%;
        margin: 0px;
        padding: 5px 0px 5px 0px;
        background-repeat: no-repeat;
        background-position: 10px center;
        color: #D8000C;
        background-color: #FFBABA;
    }
    
    .hide {
        visibility: hidden;
    }
    
    .lab {
        display: none;
        font-size: 110%;
        font-weight: bold;
    }
    
    .form {
        margin-top: 128px;
        margin-left: 200px;
        padding: 25px 25px 25px 25px;
        background-color: rgb(255, 255, 255, 0.6);
    }
    
    .frame {
        padding: 1rem;
        border: 3px solid white;
        background-color: rgb(255, 255, 255, 0.3);
    }
    
    .idImg1 {
        float: right;
        margin: 1rem;
    }
    
    .idImg2 {
        float: left;
        margin: 1rem;
    }
    
    .column2 input,
    .column3 input {
        display: block;
        width: 100%;
        color: black;
        padding: 12px 20px;
        display: inline-block;
        font-size: 120%;
        border: 1px solid black;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: rgb(255, 255, 255, 0.3);
        box-sizing: border-box;
    }
    
    .column4 button {
        width: 30%;
        float: right;
        background-color: rgb(88, 0, 0);
        padding: 11px 20px;
        cursor: pointer;
        color: white;
        font-size: 120%;
        margin: 0.5rem;
        text-decoration: none;
        border: 2px solid rgb(88, 0, 0);
    }
    
    .column5 button,
    .column6 button {
        width: 100%;
        background-color: rgb(88, 0, 0);
        padding: 11px 20px;
        cursor: pointer;
        color: white;
        font-size: 120%;
        margin-bottom: 1rem;
        text-decoration: none;
        border: 2px solid rgb(88, 0, 0);
    }
    
    .column4 button:hover,
    .column5 button:hover,
    .column6 button:hover {
        color: black;
        background-color: rgb(255, 255, 255);
        border: 2px solid black;
    }
    
    .column1 {
        float: left;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .column2 {
        float: left;
        width: 50%;
        padding: 1rem;
        text-align: left;
    }
    
    .column3 {
        float: left;
        width: 50%;
        padding: 1rem;
        text-align: left;
    }
    
    .column4 {
        float: left;
        width: 100%;
        padding: 1rem;
    }
    
    .column5 {
        float: left;
        width: 100%;
        padding: 1rem;
        display: none
    }
    
    .column6 {
        float: left;
        width: 100%;
        padding: 1rem;
        display: none
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .photo1col {
        float: left;
        width: 50%;
    }
    
    .photo1col img {
        float: none;
    }
    /* .photo2col {
        float: left;
        width: 50%;
    }
     */
    
    .photorow:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .zoomImg {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 2rem;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    .idImg {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    
    .idImg {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    
    @media screen and (max-width: 1020px) {
        .column2,
        .column3 {
            width: 100%;
        }
        .column4 {
            display: none;
        }
        .column3 {
            margin-bottom: 1rem;
        }
        .column5,
        .column6 {
            display: block;
        }
        .column5 button,
        .column6 button {
            width: 100%;
            float: none;
        }
        .photo1col,
        .photo2col {
            width: 100%;
        }
        .idImg1,
        .idImg2 {
            float: none;
        }
    }
    
    @media screen and (max-width: 850px) {
        .column5 button,
        .column6 button {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 700px) {
        .idImg {
            width: 100%;
        }
        .column {
            width: 100%;
        }
        .form {
            margin-top: 228px;
            margin-left: 0;
        }
    }
    
    @media screen and (max-width: 460px) {
        .form {
            margin-top: 128px;
        }
    }
    /*-------------------------------------------------------------------------------------------------------------------------*/
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 80px;
        text-align: center;
    }
    
    .titleconfirm {
        float: left;
        width: 100%;
        color: white;
        background-color: rgb(88, 0, 0);
    }
    
    .confirm {
        float: left;
        width: 100%;
        padding: 2rem;
        background-color: white;
    }
    
    .confirm p {
        font-size: 150%;
    }
    
    .confirm img {
        width: 3rem;
        height: auto;
    }
    
    .clearfix {
        float: left;
        width: 100%;
        padding: 2rem;
        background-color: white;
    }
    
    .container::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .message {
        width: 60%;
        margin: 5% auto 15% auto;
        background-color: rgb(255, 255, 255);
    }
    
    .btns {
        float: left;
        width: 50%;
    }
    
    .clicks:after {
        content: "";
        clear: both;
        display: table;
    }
    
    .yes,
    .no {
        float: left;
        width: 98%;
        padding: 11px 20px;
        cursor: pointer;
        color: white;
        font-size: 120%;
        margin: 0.5rem;
        text-decoration: none;
        background-color: rgb(88, 0, 0);
        border: 2px solid rgb(88, 0, 0);
    }
    
    .yes:hover,
    .no:hover {
        color: black;
        background-color: rgb(255, 255, 255);
        border: 2px solid black;
    }
    
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .deletebtn {
            width: 100%;
        }
    }