body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.photorow img {
    width: 50%;
    height: auto;
    border: 2px solid black;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgb(192, 192, 192, 0.6);
}

#err {
    border: 1px solid;
    width: 50%;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
}

.hide {
    visibility: hidden;
}

.lab {
    display: none;
    font-size: 110%;
    font-weight: bold;
}

.form {
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 1rem;
}

.frame {
    padding: 1rem;
    border: 3px solid white;
}

.column2 label {
    margin: 0.975rem;
    display: block;
    font-size: 110%;
    font-weight: bold;
    text-align: left;
}

.column3 input {
    margin: 10px;
    display: block;
    width: 100%;
    color: black;
    padding: 12px 20px;
    display: inline-block;
    text-align: left;
    font-size: 120%;
    border: 1px solid black;
    background-color: rgb(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.column3 a {
    width: 40%;
    background-color: rgb(88, 0, 0);
    padding: 11px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 120%;
    margin: 1rem;
    text-decoration: none;
    border: 2px solid rgb(88, 0, 0);
}

.column1 {
    float: left;
    width: 100%;
    margin-top: 2rem;
}

.column2 {
    float: left;
    width: 20%;
    margin-top: 2.5rem;
    padding-left: 1rem;
}

.column3 {
    float: left;
    width: 80%;
    margin-top: 1rem;
    padding: 2rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.photo1col {
    float: left;
    width: 50%;
}

.photo2col {
    float: left;
    width: 50%;
}

.photorow:after {
    content: "";
    display: table;
    clear: both;
}

.zoomImg {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.idImg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.idImg {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1020px) {
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }
    .column2 {
        display: none;
    }
    .lab {
        display: block;
        font-size: 110%;
        font-weight: bold;
    }
    .column3 input {
        width: 80%;
        margin-bottom: 2rem;
        text-align: center;
    }
    .column3 a {
        display: block;
        width: 80%;
    }
    .column3 {
        margin-top: 0rem;
    }
    .photo1col,
    .photo2col {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .idImg {
        width: 100%;
    }
}