body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.requests {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.userPic {
    float: left;
    width: 15%;
}

.brief1 {
    padding-top: 1rem;
    color: black;
    float: left;
    width: 30%;
}

.link {
    text-decoration: none;
}

.brief2 {
    float: left;
    width: 55%;
    color: black;
    padding-top: 2rem;
}

.brief2 p {
    font-size: 100%;
}

.requestrow:after {
    content: "";
    display: table;
    clear: both;
}

.requestrow {
    background-color: rgb(245, 245, 255, 0.2);
    border: 3px solid rgb(255, 255, 255, 0.7);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.requestrow:hover {
    border: 3px solid black;
    background-color: rgb(245, 245, 255, 0.6);
}

.patients {
    float: left;
    width: 25%;
    text-align: center;
}

.police {
    float: left;
    width: 25%;
    text-align: center;
}

.time {
    float: left;
    width: 25%;
    text-align: center;
}

.district {
    float: left;
    width: 25%;
    text-align: center;
}

.details:after {
    content: "";
    display: table;
    clear: both;
}

.userPic img {
    width: 10rem;
    height: auto;
    padding: 1rem;
}

.details img {
    width: 30%;
    height: auto;
}

.name {
    font-size: 200%;
    font-weight: bold;
}

.pNumber {
    font-size: 140%;
}

.loading {
    margin: 10rem;
}

@media screen and (max-width: 1200px) {
    .userPic {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief1 {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief2 {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .brief2 p {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    .brief2 p {
        font-size: 60%;
    }
}

@media screen and (max-width: 700px) {
    .requests {
        margin-top: 177px;
        margin-left: 0;
    }
}

@media screen and (max-width: 605px) {
    .requests {
        margin-top: 228px;
    }
}

@media screen and (max-width: 460px) {
    .requests {
        margin-top: 128px;
    }
}