body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.breadcrum {
    color: white;
    background-color: rgb(128, 0, 0, 0.9);
    padding: 5px 0px 5px 10px;
}

.form {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.frame,
.frame1 {
    padding: 1rem;
    border: 3px solid white;
    background-color: rgb(255, 255, 255, 0.3);
}

.frame1 {
    margin-top: 1rem;
}

.namediv {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 3rem;
    text-align: center;
    background-color: rgb(88, 0, 0, 0.9);
}

.rwo canvas {
    background-color: white;
}

.chart {
    float: left;
    width: 50%;
    padding: 0.5rem;
}

.barchart {
    float: left;
    width: 100%;
    padding: 0.5rem;
}

.chartdiv {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}

.pdfoptions {
    float: left;
    width: 50%;
}

.pdf,
.excel {
    float: left;
    width: 25%;
    padding: 1rem;
}

.options {
    width: 100%;
    padding: 0.75rem;
    border-radius: 3px;
    margin-top: 1.2rem;
    background-color: rgb(255, 255, 255, 0.7);
}

.frame1 a {
    width: 100%;
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    float: right;
    text-decoration: none;
}

.pdfbtn {
    background-color: #074377;
    border: 2px solid #074377;
}

.excelbtn {
    background-color: #00630a;
    border: 2px solid #00630a;
}

.pdfbtn:hover,
.excelbtn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {
    .form {
        margin-top: 177px;
        margin-left: 0;
    }
}

@media screen and (max-width: 605px) {
    .form {
        margin-top: 228px;
    }
}

@media screen and (max-width: 460px) {
    .form {
        margin-top: 128px;
    }
}