body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.reqInfomations {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.reqDetails {
    margin-top: 1rem;
    padding: 1rem;
    border: 3px solid rgb(255, 255, 255, 0.6);
    background-color: rgb(245, 245, 255, 0.3);
}

.reply {
    margin-top: 1rem;
    padding: 1rem;
    border: 3px solid rgb(255, 255, 255, 0.6);
    background-color: rgb(245, 245, 255, 0.3);
}

.note {
    display: none;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
}

.column1 {
    padding: 2rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.582);
    margin-bottom: 1rem;
}

.userPic {
    float: left;
    width: 15%;
}

.brief1 {
    padding-top: 1rem;
    color: black;
    float: left;
    width: 35%;
}

.link {
    text-decoration: none;
}

.brief2 {
    float: left;
    width: 50%;
    color: black;
    padding-top: 1rem;
}

.brief2 p {
    font-size: 100%;
}

.requestrow:after {
    content: "";
    display: table;
    clear: both;
}

.requestrow {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(245, 245, 255, 0.3);
    border: 3px solid rgb(255, 255, 255, 0.7);
}

.patients {
    float: left;
    width: 25%;
    text-align: center;
}

.police {
    float: left;
    width: 25%;
    text-align: center;
}

.time {
    float: left;
    width: 25%;
    text-align: center;
}

.district {
    float: left;
    width: 25%;
    text-align: center;
}

.details:after {
    content: "";
    display: table;
    clear: both;
}

.userPic img {
    width: 10rem;
    height: auto;
    padding: 1rem;
}

.details img {
    width: 30%;
    height: auto;
}

.name {
    font-size: 200%;
    font-weight: bold;
}

.pNumber {
    font-size: 140%;
}

.description {
    float: left;
    width: 50%;
    padding: 0.5rem;
}

.emergencylocation {
    float: left;
    width: 50%;
}

.cusmessage {
    float: left;
    width: 100%;
}

.cusmessage input[type=submit] {
    width: 20%;
    background-color: #074377;
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    float: right;
    margin-top: 0.5rem;
    border: 2px solid #074377;
    text-decoration: none;
}

.cusmessage input[type=submit]:hover,
.accept:hover,
.reject:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
}

.sendbtns {
    margin-top: 1rem;
    position: relative;
    float: left;
    width: 100%;
}

.accepted {
    display: none;
    float: left;
    width: 48%;
    margin-left: 1rem;
    background-color: rgba(139, 245, 112, 0.637);
    border: 2px solid rgb(0, 122, 31);
    transition: 1s;
}

.accepted h1 {
    color: rgb(0, 122, 31);
    text-align: center;
    font-weight: bold;
}

.rejected {
    display: none;
    float: left;
    width: 48%;
    margin-left: 1rem;
    background-color: rgba(192, 34, 34, 0.589);
    border: 2px solid rgb(146, 0, 0);
    transition: 1s;
}

.rejected h1 {
    color: rgb(95, 3, 3);
    text-align: center;
    font-weight: bold;
}

.loading {
    top: 0;
    left: 35%;
    position: absolute;
    display: none;
}

.sendbtns p {
    /* margin-left: 1rem; */
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
}

.reply textarea {
    width: 100%;
    font-size: 120%;
    color: black;
}

.accept {
    width: 30%;
    background-color: rgb(0, 97, 0);
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    margin-top: 1rem;
    float: right;
    border: 2px solid rgb(0, 97, 0);
    text-decoration: none;
}

.reject {
    width: 30%;
    background-color: rgb(182, 1, 1);
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    float: right;
    margin-right: 0.5rem;
    border: 2px solid rgb(182, 1, 1);
    text-decoration: none;
}

.reply button:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

.reply::after {
    content: "";
    display: table;
    clear: both;
}

.reqDetails:after {
    content: "";
    display: table;
    clear: both;
}

.specialnote {
    font-size: 150%;
    font-weight: bold;
}

.description textarea {
    width: 100%;
    font-size: 120%;
    color: black;
}

.emelocation {
    width: 100%;
    height: 50%;
    border: 1px solid rgb(255, 255, 255, 0.6);
}

@media screen and (max-width: 1100px) {
    .userPic {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief1 {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief2 {
        float: none;
        width: 100%;
    }
    .description,
    .emergencylocation,
    .cusmessage,
    .sendbtns {
        width: 100%;
    }
    .accept,
    .reject {
        width: 100%;
    }
    .reject {
        margin-right: 0;
        margin-top: 0.5rem;
    }
    .sendbtns p {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .brief2 p {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    .brief2 p {
        font-size: 60%;
    }
}

@media screen and (max-width: 700px) {
    .reqInfomations {
        margin-top: 177px;
        margin-left: 0;
    }
}

@media screen and (max-width: 605px) {
    .reqInfomations {
        margin-top: 228px;
    }
}

@media screen and (max-width: 460px) {
    .reqInfomations {
        margin-top: 128px;
    }
}

.zoomImg {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.idImg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.idImg {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(228, 227, 227);
    text-decoration: none;
    cursor: pointer;
}


/* --------------------------------------------------------------------------------------------------------------------------- */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slideshow-container img {
    width: 100%;
    height: 400px
}

.nextprev {
    margin: 2rem;
}

.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 13px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: rgb(204, 204, 204);
    border-radius: 3px 0 0 3px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* --------------------------------------------------------------------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    text-align: center;
}

.titleconfirm {
    float: left;
    width: 100%;
    color: white;
    background-color: rgb(88, 0, 0);
}

.confirm {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.confirm p {
    font-size: 150%;
}

.confirm img {
    width: 3rem;
    height: auto;
}

.clearfix {
    float: left;
    width: 100%;
    padding: 2rem;
    background-color: white;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.message {
    width: 60%;
    margin: 5% auto 15% auto;
    background-color: rgb(255, 255, 255);
}

.btns {
    float: left;
    width: 50%;
}

.clicks:after {
    content: "";
    clear: both;
    display: table;
}

.yes,
.no {
    float: left;
    width: 98%;
    padding: 11px 20px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    margin: 0.5rem;
    text-decoration: none;
    background-color: rgb(88, 0, 0);
    border: 2px solid rgb(88, 0, 0);
}

.yes:hover,
.no:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}