body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.reqDetails {
    width: 97.5%;
    height: 410px;
    background-color: rgb(255, 255, 255, 0.6);
    margin: 20px;
}

.reqDetails table {
    width: 100%;
}

.details {
    width: 97.2%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 20px;
    height: 220px;
}

.feedback {
    width: 97.2%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 20px;
    height: 100px;
}