body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}

.requests {
    margin-top: 128px;
    margin-left: 200px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.brief1 p {
    position: relative;
}

.brief1 span {
    top: -5px;
    position: absolute;
    font-size: 30%;
    padding: 2px;
}

.acceptspan {
    color: rgb(0, 122, 31);
    background-color: rgba(139, 245, 112, 0.637);
    border: 2px solid rgb(0, 122, 31);
}

.rejectspan {
    color: rgb(95, 3, 3);
    background-color: rgba(192, 34, 34, 0.589);
    border: 2px solid rgb(146, 0, 0);
}

.notviewedspan {
    color: rgb(14, 13, 121);
    background-color: rgba(34, 89, 192, 0.589);
    border: 2px solid rgb(14, 13, 121)
}

.userPic {
    float: left;
    width: 15%;
}

.alert {
    text-align: left;
    padding: 10px;
    margin: 1rem;
    height: auto;
    background-color: rgb(245, 245, 255, 0.2);
}

.search {
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.6);
}

.brief1 {
    padding-top: 1rem;
    color: black;
    float: left;
    width: 30%;
}

.link {
    text-decoration: none;
}

.brief2 {
    float: left;
    width: 55%;
    color: black;
    padding-top: 2rem;
}

.searchoptions {
    margin-top: 0.5rem;
}

.options {
    width: 20%;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0.7);
}

.brief2 p {
    font-size: 100%;
}

.requestrow:after {
    content: "";
    display: table;
    clear: both;
}

.requestrow {
    background-color: rgb(245, 245, 255, 0.3);
    border: 3px solid rgb(255, 255, 255, 0.7);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.requestrow:hover {
    border: 3px solid black;
    background-color: rgb(245, 245, 255, 0.6);
}

.patients {
    float: left;
    width: 25%;
    text-align: center;
}

.police {
    float: left;
    width: 25%;
    text-align: center;
}

.time {
    float: left;
    width: 25%;
    text-align: center;
}

.district {
    float: left;
    width: 25%;
    text-align: center;
}

.details:after {
    content: "";
    display: table;
    clear: both;
}

.userPic img {
    width: 10rem;
    height: auto;
    padding: 1rem;
}

.details img {
    width: 30%;
    height: auto;
}

.name {
    font-size: 200%;
    font-weight: bold;
}

.pNumber {
    font-size: 40%;
}

.email {
    font-size: 120%;
}

.loading {
    margin: 10rem;
}

@media screen and (max-width: 1200px) {
    .userPic {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief1 {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief2 {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .brief2 p {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    .brief2 p {
        font-size: 60%;
    }
}

@media screen and (max-width: 700px) {
    .requests {
        margin-top: 177px;
        margin-left: 0;
    }
}

@media screen and (max-width: 605px) {
    .requests {
        margin-top: 228px;
    }
}

@media screen and (max-width: 460px) {
    .requests {
        margin-top: 128px;
    }
}