body {
    margin: 0;
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-attachment: fixed;
}

.breadcrum {
    color: white;
    background-color: rgb(128, 0, 0, 0.9);
    padding: 5px 0px 5px 10px;
}

.requests {
    margin: 0.6rem;
    padding: 25px 25px 25px 25px;
    background-color: rgb(255, 255, 255, 0.6);
}

.userPic {
    float: left;
    width: 10%;
}

.brief1 {
    padding-top: 1rem;
    color: black;
    float: left;
    width: 40%;
}

.link {
    text-decoration: none;
}

.brief2 {
    float: left;
    width: 50%;
    color: black;
    padding-top: 1rem;
}

.brief2 p {
    font-size: 100%;
}

.requestrow:after {
    content: "";
    display: table;
    clear: both;
}

.requestrow {
    background-color: rgb(245, 245, 255, 0.2);
    border: 3px solid rgb(255, 255, 255, 0.7);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.requestrow:hover {
    border: 3px solid black;
    background-color: rgb(245, 245, 255, 0.6);
}

.patients {
    float: left;
    width: 25%;
    text-align: center;
}

.police {
    float: left;
    width: 25%;
    text-align: center;
}

.time {
    float: left;
    width: 25%;
    text-align: center;
}

.district {
    float: left;
    width: 25%;
    text-align: center;
}

.details:after {
    content: "";
    display: table;
    clear: both;
}

.userPic img {
    width: 10rem;
    height: auto;
    padding: 2rem;
}

.details img {
    width: 30%;
    height: auto;
}

@media screen and (max-width: 1100px) {
    .userPic {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief1 {
        float: none;
        text-align: center;
        width: 100%;
    }
    .brief2 {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .brief2 p {
        font-size: 80%;
    }
}

@media screen and (max-width: 400px) {
    .brief2 p {
        font-size: 60%;
    }
}